$form-label-margin-bottom: .3rem !important
$form-label-font-size: 0.9rem
$form-label-font-weight: 500

$input-padding-y-lg: .75rem

$btn-padding-y-lg: .75rem
$btn-padding-x-lg: 3rem
$btn-font-weight: 500

$card-border-color: #e5e7eb

@import 'bootstrap/scss/variables'
@import 'bootstrap/scss/variables-dark'
