@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@mixin card-border-variant($color) {
  --#{$prefix}card-border-color: #{$color};
  border-color: var(--#{$prefix}card-border-color);

  .card-header,
  .card-footer {
    background-color: transparent;
    border-color: var(--#{$prefix}card-border-color);
  }
}
