// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'variables';

// 4. Include any default map overrides here
$theme-colors: (
        'primary': $indigo-400,
        'secondary': $secondary,
        'danger': $red-500,
);

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Add additional custom code here
@import 'fonts';

* {
  font-family: 'Paperlogy', sans-serif;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}

ul {
  padding-left: 0;
  padding-inline-start: 0;
}

@import 'bootstrap/scss/bootstrap';

@import 'utilities';
@import 'profile';
@import 'components';
